<%- include("header") -%>
<body>
  <h1>Edit a Task</h1>
  <div class="edit-box">
    <div class="formm">
      <form class="input-form-box" action="/update" method="post">
        <div class="form-boxx">
          <input type="hidden" name="id" value="<%= newListItem._id %>" />
          <label for="name" class="input-label">Name</label>
          <input
            type="text"
            name="name"
            class="form-input"
            value="<%= newListItem.name %>"
            required
          />
        </div>
        <div class="form-boxx">
          <label for="name" class="input-label">Description</label>
          <textarea
            name="description"
            value="<%= newListItem.description %>"
            required
            rows="5"
            cols="50"
          >
<%= newListItem.description %></textarea
          >
        </div>

        <div class="form-boxx">
          <label for="name" class="input-label">Date</label>
          <input
            type="date"
            name="date"
            class="form-input"
            value="<%= newListItem.date %>"
            pattern="\d{4}-\d{2}-\d{2}"
            required
          />
        </div>
        <div class="form-boxx">
          <label for="name" class="input-label">Time</label>
          <input
            type="time"
            name="time"
            class="form-input"
            value="<%= newListItem.time %>"
            required
          />
        </div>
        <div class="form-boxx form-box1">
          <button class="action b1" type="submit">
            <span class="s2">Add</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</body>
