<%- include("header") -%>
<body>
  <div class="input-form-box">
    <form action="/update" method="post" class="details">
      <div class="edit-box-form">
        <hr />
        <input type="hidden" name="id" value="<%= newListItem._id %>" />

        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            required
            name="name"
            value="<%= newListItem.name %>"
            placeholder="Enter Your Name"
          />
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            required
            name="description"
            value="<%= newListItem.description %>"
            placeholder="Enter Description"
          />
        </div>

        <div class="form-group">
          <label for="date">Description</label>
          <input
            type="date"
            required
            name="date"
            value="<%= newListItem.date %>"
          />
        </div>

        <div class="form-group">
          <label for="time">Description</label>
          <input
            type="time"
            required
            name="time"
            value="<%= newListItem.time %>"
          />
        </div>
        <div class="form-group">
          <input type="submit" name="submit" value="submit" />
        </div>
        <hr />
      </div>
    </form>
  </div>
</body>
