<%- include("header") -%>
  
<div class="box1" id="heading">       
    <h1 class="heading">Filter Tasks</h1>
</div>
<div class="filter-box">
    <div class="filter">
        <select class="form-control" name="fltremptype">
          <option value="Hourly" class="b">Upcoming</option>
          <option value="Fixed" class="b">Finished</option>
        </select>
      </div>
      <div class="submit">
        <input
          type="submit"
          class="form-control"
          name="submit"
          placeholder="Filter"
        />
      </div>
</div>

<div class="box">       
    <div class="box1" id="heading">       
        <h1 class="heading">All Tasks</h1>
    </div>      
    
<% if(locals.error){ %>
    <button onclick="window.location.reload()">Reload</button>
<% } else { %>
    <% for(var i=0;i<newListItem.length;i++) { %>
    <form action="/delete" method="post" class="details">
        <div class="items">
            <div class="division">
                <div class="date-box">
                    <p>Date: <%= newListItem[i].date%></p>
                    <p>Time: <%= newListItem[i].time%></p>
                </div>
                <div class="desc-box">
                    <p>Name:  <%= newListItem[i].name %></p>
                    <p>Description:  <%= newListItem[i].description %></p>
                </div>
                
                <div class="button-box">
                    <button class="b"><a href="/edit/<%= newListItem[i]._id %>">Edit</a></button>
                    <button class="b"><a href="/delete/<%= newListItem[i]._id %>">Delete</a></button>
            
                </div>
            </div>
            <br>
        </div>         
    </form> 
    <% } %>

<% } %>

<div class="title-form"><h2>Fill in the forms to add the items</h2></div>

    <form class="input-form" action="/" method="post">
        <div class="form-box">
            <div class="label-box1"><label for="name">Name</label></div>
            <div><input type="text" name="name"  placeholder="name" class="form-input" required></div>
        </div>
        <div class="form-box">
            <div class="label-box1"><label for="name">Description</label></div>
            <div><input type="text" name="description"  placeholder="description" class="form-input" required></div>
        </div>
        <div class="form-box">
            <div class="label-box1"><label for="name">Date</label></div>
            <div><input type="date" name="date" class="date-picker" class="form-input" required></div>
        </div>
        <div class="form-box">
            <div class="label-box1"><label for="name">Time</label></div>
            <div><input type="time" name="time" class="time-picker" class="form-input" required></div>
        </div>
        <div class="form-box">
            <div><button class="b" type="submit"><span class="s2">Add</span></button></div>  
        </div>
        
    </form>
</div>